* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #F7F7F7;
}
.dot {
    height: 27px;
    width: 27px;
    background-color: none;
    border: 8px solid #000000;
    border-radius: 50%;
    display: inline-block;
}
.container {
    width: 100%;
    height: 73px;
    border: 2px;
    background-color: #F7F7F7;
}
li {
    display: inline-block;
}
li:nth-child(2),li:nth-child(3),li:nth-child(4) {
    margin-left: 39px;
}
nav {
    display: inline-block;
    vertical-align: middle;
    margin-top: 28px;
    margin-left: 600px;

}
header .dot {
    vertical-align: middle;
    margin-left: 27px;
    margin-top: 23px;
}
li a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-family: 'Brandon Grotesque';
    font-weight: bold;
}
.with-before:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 18px;
  margin-right: 50px;
  background-color: #000000;
}
.building-image {
    width: 100%;
    height: 500px;
}
h1 {
    font-size: 30px;
    font-family: 'Brandon Grotesque';
    color: #000000;
    opacity: 1;
    letter-spacing: 1.2px;
    margin-top: 42px;
}
.section-first-leftside {
    margin-left: 180px;
    display: inline-block;
    vertical-align: middle;
}
.paragraph-button1 p, .paragraph-button2 p {
    color: #262626;
    font-size: 11px;
    letter-spacing: 0.88px;
    display: inline-block;
    font-family: 'Arial';
}
.paragraph-button1 button {
    background-color: #0865DE;
    padding: 8.79px 15px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Brandon Grotesque';
    margin-left: 30px;
    font-weight: bold;
    box-shadow: 0px 2px 4px #00000029;
    cursor: pointer;
}
.paragraph-button1 button:hover {
    opacity: 0.8;
}
.paragraph-button2 button {
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 2px 4px #00000021;
    color: #000000;
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    padding: 9.5px 16px;
    font-size: 14px;
    margin-left: 30px;
    cursor: pointer;
}
.paragraph-button2 button:hover {
    opacity: 0.8;
}
.paragraph-button1 {
    margin-top: 77.14px;
}
.paragraph-button2 {
    margin-top: 48.65px;
}
.first-section h3 {
    margin-top: 60px;
    color: #262626;
    font-family: 'TisaOT';
    font-size: 32.7px;
    width: 607px;
    letter-spacing: 0px;
}
.big-paragraph {
    color: #434343;
    font-size: 25px;
    font-family: 'TisaOT';
    letter-spacing: 0px;
    font-weight: bold;
    width: 686px;
    margin-top: 60px;
}
.bottom-information {
    margin-top: 60px;
}
.bottom-information span {
    color: #959595;
    font-size: 14px;
    letter-spacing: 1.4px;
    font-family: 'Brandon Grotesque';
}
.bottom-information span:nth-child(3) {
    text-decoration: underline;
}
.bottom-information span:nth-child(2), .bottom-information span:nth-child(3) {
    margin-left: 90px;
}
.first-section .right-side {
    width: 200px;
    height: 288px;
    background-color: #FFFFFF;
    display: inline-block;
}
header {
    position: fixed;
    z-index: 1;
    width: 100%;
}
.section-first-rightside {
    width: 393px;
    display: inline-block;
    height: 288px;
    margin-top: 0px;
    vertical-align: middle;
    background-color: #FFFFFF;
}
.first-section h4 {
    margin-top: 100px;
    margin-left: 90px;
}
.face-images-wrapper img {
    width: 32.91px;
    height: 32.91px;
    border-radius: 50%;
    display: inline-block;
}
.face-images-wrapper {
    margin-top: 38.28px;
    margin-left: 90px;
}
.face-image2, .face-image3, .face-image4 {
    margin-left: 27.09px;
}
.building-image2 {
    width: 87.5%;
    margin-left: 90px;
    height: 810px;
    margin-top: 120px;
}
.second-section h3 {
    font-family: 'Brandon Grotesque';
    color: #000000;
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-top: 90px;
}
.second-section-wrapper {
    margin-left: 181px;
}
.recent-project-wrapper {
    margin-top: 60px;
}
.recent-projects1, .recent-projects2, .recent-projects3, img {
    width: 270px;
    height: 240px;
}
.recent-projects1, .recent-projects2, .recent-projects3 {
    display: inline-block;
}
.recent-projects2, .recent-projects3 {
    margin-left: 80px;
}
.information-cointainer h5 {
    color: #000000;
    font-family: 'Brandon Grotesque';
    font-size: 14px;
    letter-spacing: 1.4px;
}
.recent-project-information {
    background-color: #FFFFFF;
    margin-top: 0px;
    width: 270px;
    height: 160px;
}
.information-cointainer {
    margin-left: 30px;
    padding-top: 15px;
}
.information-cointainer p {
    color: #262626;
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    font-size: 12px;
    margin-top: 20px;
}
.information-cointainer span {
    color: #959595;
    font-family: 'Brandon Grotesque';
    font-size: 12px;
}
.projects-button button {
    display: inline-block;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #0865DE;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}
.projects-button button:hover {
    opacity: 0.8;
}
.projects-button p {
    display: inline-block;
    font-family: 'Brandon Grotesque';
    margin-left: 15px;
}
.projects-button {
    margin-top: 20px;
}
.all-projects-button-wrapper {
    text-align: center;
}
.all-projects-button {
    margin-top: 90.62px;
    margin: 90.62 auto;
    background-color: #FF7600;
    font-size: 12px;
    font-family: 'Brandon Grotesque';
    letter-spacing: 1.2px;
    font-weight: bold;
    padding: 20px 60px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.all-projects-button:hover {
    opacity: 0.8;
}
.third-section .infos {
    width: 231px;
    display: inline-block;
    height: 422px;
    background-color: #f0f0f0;
    vertical-align: middle;
}
.infos-wrapper {
    margin-top: 102px;
    display: inline-block;
}
.infos p span::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 18px;
    margin-right: 10px;
    margin-left: 5px;
    background-color: #000000;
}
.infos h4 {
    margin-top: 62px;
    text-align: center;
    color: #111111;
    font-family: 'Brandon Grotesque';
    font-size: 12px;
    letter-spacing: 1.2px;
}
.infos div a {
    text-decoration: none;
    margin-top: 40px;
    text-align: center;
    color: #959595;
    font-family: 'Arial';
    font-size: 11px;
    letter-spacing: 0.88px;
    display: block;
}
.infos div {
    margin-top: 59px;
}
.third-section .right-block {
    vertical-align: middle;
    width: calc(100% - 940px);
    background-color: #FFFFFF;
    height: 422px;
    display: inline-block;
}
.third-section .right-block-text {
    margin-left: 109px;
}
.third-section .right-block h4 {
    color: #111111;
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.2px;
    margin-top: 62px;
}
.third-section .right-block p {
    font-size: 14px;
    color: #111111;
    letter-spacing: 0.28px;
    width: 296px;
    font-family: 'TisaOT';
    font-weight: bold;
    margin-top: 63px;
}
.third-section .right-block span {
    color: #111111;
    font-family: 'Arial';
    letter-spacing: 0.88px;
    font-size: 11px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
}
form {
    display: inline-block;
}
input {
    width: 250px;
    height: 37px;
    border: 2px solid #0865DE;
}
::placeholder {
    padding-left: 16px;
    color: #959595;
    font-size: 11px;
    font-family: 'Arial';
    letter-spacing: 0.88px;
}
.third-section button {
    display: inline-block;
    padding: 11px 9px;
    background-color: #0865DE;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
